* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-container {
    width: 100vw;
    height: 10vh;
    background-color: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.nav-title {
    width: 50vw;
}

.nav-items ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}

a {
    text-decoration: none;
    color: #fff;
}

.nav-items li {
    margin-left: 25px;
}

.content-container {
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: end;
}

.footer {
    height: 10vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}